:root{
  --default-font-family: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: white;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--default-font-family);
  background-color: white;
  color: black;
}
.bg-dark {
  background-color: white !important;
}

.navbar-brand {
  color: black !important;
  font-size: 30px;
}

.navbar-nav .nav-link {
  color: black !important;
  padding: 0 20px;
}

.btn {
  display: block;
}

.logo {
  max-width: 60px;
  margin-right: 8px;
}

.photo {
  display: block;
  max-width: 100%;
}

a {
  color: black;
  margin-bottom: 0%;
}

p {
  color: black;
}

.projects-container {
  width: 800px;
  margin: 50px auto;
}

.project-text {
  font-size: 20px;
  padding-top: 25px;
}

img {
  width: 100%;
}

.weather-container, .dictionary-container, .pet-container, .juniorhub-container  {
  margin-bottom: 100px;

}

a, p .project-link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container-about {
  padding: 5% 18%;
}

.photo-box {
  max-width: 400px;
}

h2 {
  margin-bottom: 5%;
}

.technologies span {
  color: black;
  margin: 0 10px 0 5px;
}

.tech{
  white-space: nowrap;

}
.technologies {
  line-height: 40px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  font-size: 24px;
}

.nav-item {
  padding: 0 15px;;
}

@media (max-width: 990px) {
  .projects-container {
    width: fit-content;
    margin: 20px auto;
  }

  .photo-box {
    display: none;
  }

  .about-text {
    padding: 0 10%;
  }

  .navbar-brand {
    font-size: 24px;
  }
}
.social-link {
  margin: 15px 40px;
  color: white;
}

footer {
  width: 100%;
  background-color: black;
  margin-top: auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
