:root{
  --default-font-family: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: black;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--default-font-family);
  background-color: black;
  color: white;
}
.bg-dark {
  background-color: black !important;
}

.navbar-brand {
  color: white !important;
  font-size: 36px;
}

.navbar-nav .nav-link {
  color: white !important;
  padding: 0 20px;
}

.btn {
  display: block;
}

.navbar-brand:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

.logo {
  max-width: 60px;
  margin-right: 8px;
}

.photo {
  display: block;
  max-width: 100%;
}

a {
  color: white;
  margin-bottom: 0%;
}

p {
  color: white;
}

.projects-container {
  width: 800px;
  margin: 100px auto;
}

img {
  width: 100%;
}

.weather-container, .dictionary-container, .pet-container, .juniorhub-container  {
  margin-bottom: 50px;
}

.navbar-toggler {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.container-about {
  padding: 0 10%;
}

.photo-box {
  max-width: 400px;
}

h2 {
  margin-bottom: 5%;
}

.technologies span{
  color: white;
  margin: 0 20px 0 10px;
}

.technologies {
  line-height: 40px;
}

@media (max-width: 900px) {
  .projects-container {
    width: fit-content;
    margin: 20px auto;
  }
  .weather-container, .dictionary-container, .pet-container, .juniorhub-container {
    margin: 20px 50px;
    width: fit-content;
  }
  .photo-box {
    display: none;
  }

  .about-text {
    padding: 0 10%;
  }

  .navbar-brand {
    font-size: 24px;
  }
}
