:root{
  --default-font-family: 'Space Grotesk', sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: black;
}

.bg-dark {
  background-color: black !important;
}

.navbar-brand {
  color: white !important;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: white !important;
  padding: 0 15px;

}

.btn {
  display: block;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-brand:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}

.logo {
  max-width: 40px;
  margin-right: 8px;
}

.photo {
  display: block;
  max-width: 50%;
}
